<h1>My tasks</h1>

<ul class="">
    <% @tasks.each do |task| %>
    <li class="list-style">
      <% if task.completed %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
          <label class="form-check-label" for="defaultCheck1">
            <%= link_to task.title, task_path(task) %>
          </label>
        </div>
      <% else %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            <%= link_to task.title, task_path(task) %>
          </label>
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>